<div class="panel panel-default">
    <div class="panel panel-heading">
        <h4>Add book</h4>
    </div>
    <div class="panel panel-body">
        <div class="row col-lg-12">
            <!-- glej books.js, "$scope.addBook = function(){}" -->
            <form ng-submit="addBook()"> 
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" class="form-control" ng-model="book.title">
                </div>
                <div class="form-group">
                    <label>Author</label>
                    <input type="text" class="form-control"  ng-model="book.author">

                </div>
                <div class="form-group">
                    <label>Genre:</label>
                    <input type="text" class="form-control" ng-model="book.genre">
                </div>
                <div class="form-group">
                    <label>Description:</label>
                    <input type="text" class="form-control" ng-model="book.description">
                </div>
                <div class="form-group">
                    <label>Publisher:</label>
                    <input type="text" class="form-control" ng-model="book.publisher">
                </div>                   
                <div class="form-group">
                    <label>Pages:</label>
                    <input type="text" class="form-control" ng-model="book.pages">
                </div>   
                <div class="form-group">
                    <label>Image URL:</label>
                    <input type="text" class="form-control" ng-model="book.image_url">
                </div>   
                <div class="form-group">
                        <label>Buy URL:</label>
                        <input type="text" class="form-control" ng-model="book.buy_url">
                </div>
                <button class="btn btn-primary" type="submit">Pošlji</button>
            </form>
        </div> 
        
    </div>
         

<div>